$fs_24: 2.4rem;
$fs_20: 2rem;
$fs_18: 1.8rem;
$fs_16: 1.6rem;
$fs_14: 1.4rem;
$commonFamily: 'Noto Sans',Roboto,Helvetica,Arial,Calibri,'Segoe UI','Oing Fang SC','Microsoft Yahei';
$headline_h1: lighter 96px $commonFamily;
$headline_h2: lighter 60px $commonFamily;
$headline_h3: normal 48px $commonFamily;
$headline_h4: normal 34px $commonFamily;
$headline_h5: bold 24px $commonFamily;
$headline_h6: normal 20px $commonFamily;
$subtitle_s1:normal 16px $commonFamily;
$subtitle_s2:bold 14px $commonFamily;
$body_b1:normal 16px $commonFamily;
$body_b2:normal 14px $commonFamily;
$button:bolder 14px $commonFamily;
$caption:normal 12px $commonFamily;
$overline:normal 10px $commonFamily;